{{- define "main" }}
        <div class="index">
            <div class="content">
                <fieldset>
                    <legend>工具</legend>
                    <a href="/chart-calc">Phigros谱面计算</a>
                    <a href="/rks">RKS统计</a>
                    <a href="/mccws">MCC WebSocket Client</a>
                    <a href="/downgit/">DownGit fork</a>
                </fieldset>
                <fieldset>
                    <legend>娱乐</legend>
                    <a href="/florr">florr相关</a>
                    <a href="/pi-day">Pi Day Challenge</a>
                    <a href="/spell-bee-hack">Spelling Bee Hack</a>
                    <a href="/bbti">BasketBros Type Indicator</a>
                    <a href="/abs">非洲大投篮</a>
                    <a href="/abm">非洲数学家</a>
                </fieldset>
                <fieldset>
                    <legend>友情链接</legend>
                    <a href="https://zcxjames.top">ZcxJames's website</a>
                </fieldset>
            </div>
        </div>
{{- end }}